.BakeryItem img {
    padding: 10px;
    max-width: 50%;
}

button {
    margin:0 auto;
    display:block;
}

#button-container {
    display: block, flex;
    justify-content: center;
    align-items: center;
}

.BakeryItem{
    justify-content: center;
}